body {
    margin: 0 auto;
    background: #282828;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    height: 100px;
    background: #000;
}

.header a {
    padding: 0 5%;
    max-width: 1280px;
    margin: 0 auto;
    display: block;
}

.header img {
    outline: none;
    border: none;
    height: 100px;
}

main {
    background: #FFF;
}

.container {
    margin: 0 auto;
    padding: 20px 5%;
    max-width: 1280px;
    display: flex;
}

.sidebar {
    width: 200px;
    padding: 100px 0;
    position: relative;
}

.sidebar:after {
    content: 'AD';
    display: block;
    position: absolute;
    right: 20px;
    margin-top: -10px;
    font-family: Arial, sans-serif;
}

.sidebar.left {
    border-right: 1px solid #CCC;
}

.sidebar.right {
    border-left: 1px solid #CCC;
}

.sidebar img {
    width: 200px;
}

.content {
    width: 100%;
    padding: 0 20px;
}

.content #login,
.content #share {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

.content #login {
    height: 70vh;
    background: url('../assets/sample_poster.jpg') center center;
    border-radius: 10px;
}

.content #login span {
    font: normal normal normal 16px Arial, sans-serif;
    display: inline-block;
    margin-bottom: 20px;
}

.content #login img {
    width: 400px;
}

.content #share img {
    width: 400px;
}

#loader,
#result {
    display: none;
}

#result,
#imageArea {
    width: 100%;
}

footer {
    width: 100%;
    height: 100px;
    background: #282828;
    border-top: 1px solid #000;
    color: #EEE;
}

.footer {
    margin: 0 auto;
    padding: 40px 5%;
    max-width: 1280px;
}

